# Python
__pycache__/
*.py[cod]
*$py.class
*.so
venv/
env/
.venv/

# Dataset (büyük dosyalar git'e yüklenmemeli)
dataset/

# Log dosyaları
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
.DS_Store
